fastapi
uvicorn
polars
pydantic
pydantic-settings
python-dotenv
sentence-transformers
scikit-learn
aw-client
aw-core
pytest
google.genai
duckdb
pyarrow
schedule
pytz
pandas
tabulate
persist-queue[extra]

nest-asyncio
