fastapi
uvicorn
polars
pydantic
pydantic-settings
python-dotenv
sentence-transformers
scikit-learn
aw-client
aw-core
pytest
google.genai
pyarrow
schedule
pytz
pandas
tabulate
persist-queue[extra]
python-jose[cryptography]
passlib
bcrypt
nest-asyncio
python-multipart
apscheduler
asyncpg
psycopg[binary]
sqlalchemy
pgvector
greenlet
